.custom-table-row:hover td {
    background-color: #e9ecef !important;
}

.custom-table {
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1) !important;
    border-radius: 8px !important;
    border: 1px solid #dee2e6 !important;
}
