@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
    margin: 0;
    position: fixed;
    height: 100svh;
    width: 100svw;
    overflow-y: auto;
    scrollbar-width: none;
}

.abril-fatface-regular {
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
  }
  